<div>
  <table class="table table-striped users">
    <thead>
      <tr>
        <th ng-repeat="header in headers">
          <span class="header" ng-click="sortBy(header|lowercase)">{{header}}</span>
          <span class="sortorder fa" ng-show="isSorted(header|lowercase)" ng-class="sort.reverse ? 'fa-caret-up': 'fa-caret-down'"></span></th>
      </tr>
    </thead>
    <tbody class="table-striped">
      <tr ng-repeat="user in pagedItems[currentPage - 1] | orderBy:sort.propertyName:sort.reverse">
        <td class="col-xs-3">{{user.name}}</td>
        <td class="col-xs-3">{{user.email}}</td>
        <td class="col-xs-3">{{user.department}}</td>
        <td class="col-xs-3">{{user.telephone}}</td>
      </tr>
    </tbody>
  </table>
</div>
