<div class="container" ng-controller="TabsController">
  <div class="row row-filters">
    <div class="col-xs-12 col-md-6 col-md-push-6 view-select">
      <ul class="nav nav-pills nav-justified">
        <li ng-class="{ active: isSet(1) }"><a href ng-click="setTab(1)">List</a></li>
        <li ng-class="{ active: isSet(2) }"><a href ng-click="setTab(2)">Tiles</a></li>
        <li ng-class="{ active: isSet(3) }"><a href ng-click="setTab(3)">Groups</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-md-6 col-md-pull-6">
      <form>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input type="text" class="form-control" placeholder="Search" ng-model="searchName">
          </div>
        </div>
      </form>
    </div>
    <div ng-show="isSet(2)" class="col-xs-12">
      <div class="form-inline">
        <div class="form-group">
          <label>Order By:</label>
          <select ng-model="sort.propertyName" class="form-control">
            <option value="name">Name</option>
            <option value="email">Email</option>
            <option value="department">Department</option>
            <option value="telephone">Telephone</option>
          </select>
        </div>
        <button type="button"
                class="reverse-button btn btn-default"
                ng-click="sort.reverse = !sort.reverse">
          {{sort.reverse ? 'Reverse' : 'Straight'}}
        </button>
      </div>
    </div>
  </div>
  <div class="row row-content">
    <div class="col-xs-12">
      <div ng-controller="UserController">
        <div ng-controller="PagingController">
          <div ng-show="isSet(1)" ng-include="'list.htm'"></div>
          <div ng-show="isSet(2)" ng-include="'tiles.htm'"></div>
          <div>
            <div ng-show="isSet(1) || isSet(2)"
              paging
              page="currentPage"
              page-size="itemsPerPage"
              total="filteredItems.length"
              paging-action="setPage(page)">
            </div>
          </div>
        </div>
        <div ng-show="isSet(3)" ng-include="'groups.htm'"></div>
      </div>
    </div>
  </div>
</div>
