html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
  /* Margin top by header height */
  margin-top: 50px;
}

.jumbotron {
  margin: 0 auto;
  background: white;
  color: black;
}

.logo {
  margin-top: -5px;
  color: white;
}

.row-content {
  margin: 0px auto;
  padding: 20px 0px;
}

#start {
  margin-right: 10px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 61px;
}

.footer-content {
  border-top: 1px solid lightgray;
}

.center {
  text-align: center;
}

/* USERS TABLE */
.users {
  border-collapse: collapse;
}

.users .header {
  cursor: pointer;
}

.sortorder {
  padding-left: 4px;
}

.navBardemoBasicUsage md-content .ext-content {
  padding: 50px;
  margin: 20px;
  background-color: #FFF2E0;
}

/* ------------- TILES ---------------*/
.tile {
  width: 200px;
  /*height: 300px;*/
  margin: 10px 10px 0 0;
  padding: 10px;

  display: inline-block;

  background: whitesmoke;
  border: 1px solid whitesmoke;
}

.tile:hover {
  border: 1px solid lightblue;
}

.tile .tile-select {
  cursor: pointer;

  margin: 0;
}

.tile .tile-cloud {
  color: black;
  float: right;
}

.tile .tile-content {
  margin-top: 4px;
  text-align: center;
}

.tile .tile-name {
  font-weight: bold;
}

.tile .tile-photo {
  height: 150px;
  width: 100%;

  line-height: 150px;
}

.tile .tile-department {
  margin-top: 16px;
}

.tile .tile-telephone {
  margin-top: 8px;
}
