html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
  /* Margin top by header height */
  margin-top: 50px;
}

.jumbotron {
  margin: 0 auto;
  background: white;
  color: black;
}

.logo {
  margin-top: -5px;
  color: white;
}

.row-content,
.row-filters {
  margin: 0px auto;
  margin-top: 20px;
}

.row-filters {
  border-bottom: 1px solid lightgray;
  padding: 20px;
}

#start {
  margin-right: 10px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 61px;
}

.footer-content {
  border-top: 1px solid lightgray;
}

.center {
  text-align: center;
}

/* USERS TABLE */
.users {
  border-collapse: collapse;
}

.users .header {
  cursor: pointer;
}

.sortorder {
  padding-left: 4px;
}

.navBardemoBasicUsage md-content .ext-content {
  padding: 50px;
  margin: 20px;
  background-color: #FFF2E0;
}

.dropdown select,
.dropdown option {
  cursor: pointer;
}

/* ------------- TILES ---------------*/
.tile {
  width: 155px;
  height: 250px;
  margin: 10px 10px 0 0;
  padding: 10px;

  display: inline-block;

  background: whitesmoke;
  border: 1px solid whitesmoke;
}

.tile:hover {
  border: 1px solid lightblue;
}
.tile .tile-icons {
  width: 100%;
}

.tile .tile-select {
  cursor: pointer;
  float: left;

  margin: 0;
}

.tile .tile-cloud {
  color: black;
  float: right;
}

.tile .tile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  height: 100%;
}

.tile .tile-name {
  font-weight: bold;
  margin-top: 4px;
}

.tile .tile-photo {
  height: 100px;

  line-height: 100px;
}

.tile .tile-department {
  margin-top: 16px;
  flex-grow: 1;
}

.tile .tile-telephone {
  margin-top: 8px;
}

/* ------- GROUPS ------- */
.group {
  display: inline-block;

  border: 1px solid lightgray;
  margin-right: 10px;
  padding: 10px;

  vertical-align: top;
}

.group .group-name {
  font-size: 18px;
  margin-bottom: 10px;
}

.group .group-item {
  border: 1px solid lightgray;
  padding: 4px;
  min-width: 200px;

  margin-bottom: 5px;
}

.group .group-item:last-child {
  margin-bottom: 0;
}

.group .group-department {
  font-size: 12px;
  color: gray;
}
